<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CloudDrive - Register</title>
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" href="../static/images/cloudsmall.png" type="image/x-icon">
    <link rel="stylesheet" href="{% url 'style' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>
        .sidebar.close{width:98px;}.sidebar.close .image-text img.open{display:none;}.sidebar.close .image-text img.close{width:32px;margin-left:12px;display:block;}.sidebar.close .text{opacity:0;}.sidebar.close .storage{display:none;}.sidebar.close ~ .home{left:98px;width:calc(100% - 98px);}    
    </style>
</head>
<body class="min-h-screen bg-[var(--primary-color)] flex justify-center items-center">
    <div class="w-96 bg-white rounded-lg shadow-lg p-8">
            <div class="form">
                <form method="post" action="{% url 'inscription' %}">
                    {% csrf_token %}
                    <h1 class="text-2xl font-semibold mb-6">Register</h1>
                    {{ form.as_p }}    
                    <button type="submit" class=" w-full bg-[var(--primary-color)] text-white py-2 rounded-lg hover:opacity-75 transition-all duration-200 active:scale-95 ">Register</button>
                </form>
                <p class="link text-center mt-[10px]">Already registered ? <a href="{% url 'connexion' %}" class="text-[var(--primary-color)] hover:underline">Login</a></p>
            </div>
    </div>
    <style>label {display: block;margin-bottom: 0.5rem;color: var(--primary-color);}input {width: 100%; padding: 0.5rem; border: 1px solid #D1D5DB; border-radius: 0.5rem; margin-bottom: 1rem; }ul {list-style: none;color: red;}</style>
</body>
</html>